name: Build and Tests

on:
 push:
  branches: [main]
 pull_request:
  branches: [main]

jobs:
 build:

  runs-on: ubuntu-latest

  steps:
  - name: Checkout repository
    uses: actions/checkout@v4

  - name: Adding gtest
    run: git clone https://github.com/google/googletest.git third-party/gtest

  - name: Configure visitor
    run: cmake -H. -B${{github.workspace}}/build -DBUILD_TESTS=ON

  - name: Build visitor
    run: cmake --build ${{github.workspace}}/build

  - name: Run tests
    run: |
        cd build
        ctest --output-on-failure